@import "tailwindcss";

@theme {
  --color-natural-bg: #FDFCF9;
  --color-natural-text: #3D3D3D;
  --color-natural-accent: #C16745;
  --color-natural-accent-hover: #A8583A;
  --color-natural-soft: #5D5D4E;
  --color-natural-header: #2D2D2D;
  --color-natural-secondary: #4A5D4E;
  --color-natural-muted: #F5F1E8;
  --color-natural-border: #E8E4D9;
}
